<div>
    <div>
        <h1>Login error</h1>

        <p>You have introduced wrong data or the user does not exist.</p>

        <button class="btn btn-warning my-5" onclick="location.href='/'">Go back</button>
    </div>
</div>