<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign Up</title>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <section class="mainSection">
        <div class="centerDivRegister">
            <h2 class="signup">Sign Up</h2>

            <form action="/register" method="post" role="form" class="form">
                <div>
                    <input class="inputBox" type="text" name="username" placeholder="Username" autocomplete="off" required>
                </div>

                <div>
                    <input class="inputBox" type="email" name="email" placeholder="Email" autocomplete="off" required>
                </div>

                <div>
                    <input class="inputBox" type="password" name="password" placeholder="Password" autocomplete="off" required>
                <div>

                <div>
                    <br>
                    <input class="" type="submit" value="Register">
                </div>
            </form>
            
            <div>
                <p class="">Already have an account ?</p>
                <button class="" onclick="location.href = '/login'">
                    Login
                </button>
            </div>
        </div>
    </section>
</body>

</html>